@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url("https://use.typekit.net/jln4qdn.css");

body {
    font-family: 'Lobster', cursive;
    overflow-x: hidden;
    overscroll-behavior: contain;
    min-height: 100%;
    min-width: 360px;
    width: auto !important;
}
h1 {
    font-family: sloop-script-one, sans-serif;
}

a {
    color: unset;
}

.menu-item {
    border-bottom: #a8a8a8 solid 2px;
    border-top: #a8a8a8 solid 2px;
    color: #d5d5d5;
    margin: 10px 10px;
    padding: 5px 10px;
    font-size: 1.8rem;
}

.menu-item:hover {
    color: #7d7d7d;
}

.selected {
    color: #393939;
    border-color: #393939;
    pointer-events: none;
}

.header-back {
    background-color: #343e85;
}

.vh-10 {
    height: 10vh;
}

.vh-100 {
    min-height: 100vh;
}

.home-header {
    background-image: url(/images/2O8A0041.jpg);
    background-size: cover;
    background-position: top;
}

@media (max-width:1390px) {
    .menu-item {
        font-size: 1.1rem;
    }
}

@media (max-width:1190px) {
    .menu-item {
        font-size: 0.7rem;
        max-height: 7vh;
    }
}

@media (max-width:910px) {
    .navbar-items {
        display: inline;
        z-index: 2;
        text-align: center;
    }
    .menu-item {
        font-size: 6.5vw;
        text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
        max-height: 7vh;
    }
    .selected {
        text-shadow: none;
    }
    .container-fluid.change {
        overflow: hidden;
        z-index: 2;
    }

}

@media (max-width: 570px) {
    .menu-item{
        font-size: 10vw;

    }
}

.mobile-header {
    height: 100vh;
    width: 100%;
    transform-origin: top;
    background: rgb(79,90,156);
    background: radial-gradient(circle, rgba(79,90,156,1) 0%, rgba(52,62,133,1) 50%, rgba(10,19,76,1) 100%);
}

.container-hamburger {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}